/* ========================= */
/*         Variáveis         */
/* ========================= */

:root {
  /* Cor de Fundo do Formulário de Login */
  --webrun-login-form-bg: var(--bs-light);

  /* Tamanho Máximo do Card do Formulário de Login */
  --webrun-login-form-card-width: 850px;

  /* Tamanho do Menu */
  --webrun-menu-size: 300px;
  --webrun-menu-size-neg: -300px;

  /* Tamanho da Navbar */
  --webrun-navbar-size: 64px;
}


/* ========================= */
/*    Formulário Principal   */
/* ========================= */

.webrun-main-form,
.webrun-main-form body {
  overflow: hidden !important;
}

.webrun-main-form #lay > .tab-content > .tab-pane {
  display: flex !important;
  flex-direction: column;
}

.webrun-main-form #Menu,
.webrun-main-form #AbaContainer {
  position: fixed !important;
  height: calc(100vh - var(--webrun-navbar-size)) !important;
  min-height: calc(100vh - var(--webrun-navbar-size)) !important;
  top: var(--webrun-navbar-size) !important;
}

.webrun-main-form #Menu {
  width: var(--webrun-menu-size) !important;
  left: var(--webrun-menu-size-neg) !important;
  background-color: rgba(var(--bs-light-rgb), 0.9) !important;
  border-right: 1px solid var(--bs-border-color) !important;
  transition: all 0.4s ease;
}

.webrun-main-form #Menu.menu-active {
  left: 0 !important;
}

.webrun-main-form #Menu .menu-search input,
.webrun-main-form #Menu .list-group {
  border-radius: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

.webrun-main-form #Menu .menu-search .btn {
  border-radius: 0 !important;
}

.webrun-main-form #Menu .list-group,
.webrun-main-form #Menu .card {
  --bs-list-group-bg: transparent;
  --bs-card-bg: transparent;
  background-color: transparent !important;
  border: 0 !important;
  margin: 0 !important;
}

.webrun-main-form #Menu .list-group .list-group-item:first-child {
  border-top: 0 !important;
}

.webrun-main-form #Menu .menu-search {
  margin: 0 !important;
}

.webrun-main-form #MenuButton button {
  box-shadow: none !important;
}

.webrun-main-form #Aba {
  position: relative !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 100% !important;
  margin: 0 !important;
}

.webrun-main-form #AbaContainer {
  width: 100% !important;
  left: 0 !important;
  padding: 0 !important;
  transition: all 0.4s ease;
}

.webrun-main-form #AbaContainer.menu-active {
  left: var(--webrun-menu-size) !important;
  width: calc(100% - var(--webrun-menu-size)) !important;
}

.webrun-main-form #Aba .nav-tabs .nav-item .nav-link {
  border-radius: 0 !important;
}

.webrun-main-form #Aba .nav-tabs .nav-item:first-child .nav-link {
  border-left: 0 !important;
}

.webrun-main-form #Navbar,
.webrun-main-form #UserInfo {
  z-index: 1000001 !important;
}

.webrun-main-form #Navbar {
  width: 100% !important;
  height: var(--webrun-navbar-size) !important;
  min-height: var(--webrun-navbar-size) !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.webrun-main-form #Navbar #UserInfo, .webrun-main-form #Navbar #Logo {
  position: relative !important;
  left: unset !important;
  top: unset !important;
  width: auto !important;
  margin: 0 !important;
}

.webrun-main-form #Navbar #MenuButton {
  position: relative !important;
  left: unset !important;
  top: unset !important;
  width: auto !important;
  order: 1;
  margin-right: 1.5rem !important;
}

.webrun-main-form #Logo {
  order: 2;
}

.webrun-main-form #UserInfo {
  order: 3;
}

@media (max-width: 575.98px) {
  .webrun-main-form #Menu {
    width: 100% !important;
    left: -100% !important;
    backdrop-filter: blur(5px);
  }

  .webrun-main-form #Menu.menu-active {
    left: 0 !important;
  }

  .webrun-main-form #AbaContainer,
  .webrun-main-form #AbaContainer.menu-active {
    width: 100% !important;
    left: 0 !important;
  }
}


/* ========================= */
/*    Formulário de Login    */
/* ========================= */

.webrun-login-form body {
  background-color: var(--webrun-login-form-bg);
}

.webrun-login-form #logincontainer {
  max-width: var(--webrun-login-form-card-width) !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  border-radius: 0.5rem;
}

.webrun-login-form #lay > .tab-content > .tab-pane,
.webrun-login-form #logincontainer {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.webrun-login-form #logo {
  top: 0 !important;
  left: 0 !important;
}
